
body
{ background-image: url(https://i.pinimg.com/originals/ec/b6/41/ecb6416c16b66e9e5409def9271224a2.gif);
background-repeat: no-repeat, repeat;
background-size: cover; }

.content
{ font-family: arial;
margin: auto;
max-width: 100%;
opacity: 85%;
width: 1300px; }

h2 {
    text-align: center;
    padding: 30px;
    margin-bottom: 1px;
    background-color: gray;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    font-family: Roboto;
    border-radius: 20px;
}

a
{ color: inherit;
text-decoration: none; }

p
{font-family: Roboto;
font-size:x-large;}

header
{ background-color: gray;
color: white;
font-size: xx-large;
font-weight: bolder;
margin-bottom: 1%;
padding: 30px;
text-align: center;
text-transform: none;
font-family: Roboto; }

nav
{ background-color: gray;
margin-bottom: 1%;
text-align: center; }

button
{ background-color: black;
color: white;
border: 2px ridge;
border-radius: 10px;
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
font-size: larger;
margin: auto;
padding: 20px;
text-transform: uppercase;
transition: 400ms; }

button:hover
{ background-color: gray;
letter-spacing: 3px;
transition: 300ms; }

button:active
{ background-color: white;
color: black;
transition: 150ms;
transform: translateY(7px); }

.current
{ background-color: white;
color: black;
border-radius: 20px;
font-size: larger;
margin: auto;
padding: 20px;
text-transform: uppercase;
transition: 500ms; }

.current:hover
{ background-color: white;
letter-spacing: 0px; }



header, nav, section, main, aside, footer
{ border: 3px black ridge;
border-radius: 15px;
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
opacity: 100%; }

section, aside
{ background-color: gray;
float: left;
text-align: center; }

section
{ color: white;
font-size: x-large;
margin-bottom: 1%;
margin-right: 1%;
width: 77.8%; }

p
{ margin-left: 3%;
margin-right: 3%; }

article
{ background-color: dimgray;
border-radius: 15px;
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
color: white;
margin-bottom: 3%;
margin-left: 3%;
margin-right: 3%;
transition: 300ms; }

article:hover
{ background-color: darkgray;
color: black;
font-size: xx-large;
transition: 300ms; }

main
{ background-color: gray;
color: white;
font-size: larger;
margin-bottom: 1%;
text-align: center; }

img {
border:5px solid hsl(0, 100%, 27%);
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
transition: 500ms;
width: 40%; }

img:hover
{ transform: scale(1.1);
transition: 200ms; }

.fa-brands.fa-spotify.fa-2x {
    background-color: black;
    border-radius: 40px;
    color: hsl(120, 93%, 33%)
}

.fa-brands.fa-youtube.fa-2x {
    color: red;
    background-color: white;
    border-radius: 15px;
}

.abtimg
{ height: 150px;
width: 150px; }

audio
{ width: 30%; }

aside
{ width: 20.39%;
 text-align: center; }

footer
{ background-color: gray;
clear: both;
color: white;
font-size: larger;
font-weight: bolder;
margin-bottom: 1%;
text-align: center; }